@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');
@import "tailwindcss";

/* Teste da fonte Oleo Script */
.font-oleo-test {
  font-family: "Oleo Script Swash Caps", cursive !important;
}